nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  & ul {
    display: flex;
    padding: 0;
    margin: 0;
    & li {
      display: flex;
      flex: 1;
      list-style: none;
      position: relative;
      top: -8em;
      &.animate {
        top: 0;
      }
      & a {
        flex: 1;
        text-align: center;
        font-size: 1.8rem;
        line-height: 5rem;
        text-decoration: none;
        white-space: nowrap;
        color: var(--color-silver);
        cursor: pointer;
        & i {
          padding-right: 1rem;
        }
        @media (--small-viewport) {
          & span {
            display: none;
          }
        }
        &:hover:not(.active) {
          background: var(--color-background-accent);
        }
        &.active {
          color: var(--color-purple);
          pointer-events: none;
          cursor: not-allowed;
        }
      }
      &:nth-child(1) {
        transition: top 0.3s ease 0.15s;
      }
      &:nth-child(2) {
        transition: top 0.3s ease 0.2s;
      }
      &:nth-child(3) {
        transition: top 0.3s ease 0.25s;
      }
      &:nth-child(4) {
        transition: top 0.3s ease 0.3s;
      }
      &:nth-child(5) {
        transition: top 0.3s ease 0.35s;
      }
    }
  }
}
